
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Quienes Somos</h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Inicio</a>
                    </li>
                    <li class="active">Quienes Somos</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Intro Content -->
        <div class="row">
            <div class="col-md-6">
                <img id = "image_local" class="img-responsive" src="imagenes/local.jpg" alt="">
            </div>
            <div class="col-md-6">
              <h2>Acerca de nosotros</h2>
                <p>La empresa Central de Motos S. de R. L. de C.V., se dedica a la venta y distribución de repuestos, accesorios y lubricantes para motocicletas, específicamente de trabajo como ser:<p>
                <ul>
                  <li>Honda</li>
                  <li>Yamaha</li>
                  <li>Suzuki</li>
                  <li>Kawasaki</li>
                </ul>
                <p>Y También las motocicletas manufacturadas en otros países como: Motos provenientes de China y de la India.</p>
                <p>Con más de 15 años de experiencia de trabajar en el mercado nacional hemos llegado a entender lo importante que son las motocicletas para las personas, son comúnmente llamadas "La herramienta de trabajo", es por ello que no es solo vender repuestos para estas motocicletas, sino también dar soluciones a nuestros clientes.</p>

            </div>
        </div>
        <!-- /.row -->


    </div>
    
