<div ng-controller="AddUsersController" class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div >
            <h1 class="page-header">Usuarios</h1>
            <ol class="breadcrumb">
                <li><a ng-click="goHome()">Inicio</a>
                </li>
                <li class="active">Gestionar Usuarios</li>
            </ol>

        </div>
         <!-- Service Tabs -->
        <div class="row">
            <div class="col-lg-12">

                <ul id="myTab" class="nav nav-tabs nav-justified">
                    <li class="active"><a data-target="#agregarProduct" data-toggle="tab">Agregar Usuarios</a>
                    </li>
                    <li class=""><a class="btn" data-target="#modificarProduct" ng-click="getUsers()" data-toggle="tab">Modificar Usuarios</a>
                    </li>
                </ul>

                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="agregarProduct">
                        <div class="row">
					        <!-- Projects Row -->
					        <div class="row rowAddUsers">
					            <label class="col-md-3 col-sm-3 col-xs-3">Nombre</label>
					            <input class="col-md-3 col-sm-3 col-xs-3" ng-model="user.name" type="text" >

					        </div>
					        <div class="row rowAddUsers">
					            <label class="col-md-3 col-sm-3 col-xs-3">Usuario</label>
					            <input class="col-md-3 col-sm-3 col-xs-3" ng-model="user.username" type="text" ></input>
					        </div>
					        <div class="row rowAddUsers">
					            <label class="col-md-3 col-sm-3 col-xs-3">Contraseña</label>
					            <input class="col-md-3 col-sm-3 col-xs-3" ng-model="user.password" type="password" ></input>
					        </div>
					        <div class="row rowAddUsers">
					            <label class="col-md-3 col-sm-3 col-xs-3">Email</label>
					            <input class="col-md-3 col-sm-3 col-xs-3" ng-model="user.email" type="text" ></input>
					        </div>
					        <div class="row rowAddUsers">
				            	<label class="col-md-3 col-sm-3 col-xs-3">Tipo</label>
				            	<input class="col-md-3 col-sm-3 col-xs-3" ng-model="user.scope" type="text"></input>
				        	</div>
				        	<div class="row rowAddUsers">
				        		<button id="ButtonCreateUser" ng-click="postUsers()" class="btn btn-danger">Agregar</button>
					        </div>
					    </div >
                    </div>
                    <div class="tab-pane fade" id="modificarProduct">
                    	<div class = "container">
							<table id="TableGestion" class="table table-striped">
						      <tr>
						      	<th ng-if ="false">
						      		ID
						      	</th>
						        <th>
						          Nombre
						        </th>
						        <th>
						          Usuario
						        </th>
						        <th>
						          Email
						        </th>
						        <th>
						          Tipo
						        </th>
						        <th>
						          Estado
						        </th>
						        <th>
						        </th>
						      </tr>
						      <tr>
						      	<td ng-if="false">
						      		<input readonly="" ng-model="userModif.id"> </input>
						      	</td>
						      	<td>
						      		<input ng-model="userModif.name" type = "text"> </input>
						      	</td>
						      	<td>
						      		<input ng-model="userModif.username"  type = "text"> </input>
						      	</td>
						      	<td>
						      		<input ng-model="userModif.email" type = "text"> </input>
						      	</td>
						      	<td>
						      		<input ng-model="userModif.scope" class="input_gestion_productos" type = "text"> </input>
						      	</td>
						      	<td>
						      		<input ng-model="userModif.state" class="input_gestion_productos" type = "text"> </input>
						      	</td>
						      	<td>
						      		<input type = "submit" ng-click="saveUserChanges()" class="btn btn-primary" value="Guardar"></input>
						      	</td>
						      </tr>
						      <tr ng-repeat="user in users">
						      	<td ng-if ="false">
						      		{{user._id}}/
						      	</td>
						        <td>
						          {{user.name}}
						        </td>
						        <td>
						          {{user.username}}
						        </td>
						        <td>
						          {{user.email}}
						        </td>
						        <td>
						          {{user.scope}}
						        </td>
						        <td>
						          {{user.state}}
						        </td>
						        <td>
						          <button ng-click="show_modificar_user(user)" class="btn btn-danger">Modificar</button>

						        </td>
						      </tr>
						    </table>
						</div>
                    </div>

                </div>

            </div>
        </div>

</div>
