<div ng-controller="StatsController" class="container" ng-init="getFetch()">
    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Estadisticas</h1>
            <ol class="breadcrumb">
                <li><a href="index.html">Inicio</a>
                </li>
                <li class="active">Estadisticas</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <ul id="myTab" class="nav nav-tabs nav-justified">
        <li class="active"><a data-target="#graph1" data-toggle="tab">Inventario</a>
        </li>
        <li class=""><a class="btn" data-target="#graph2" data-toggle="tab">Ganancias</a>
        </li>
    </ul>
    <div class="tab-content">
        <div  class="tab-pane fade active in grafica_style " id="graph1">
        </div>
        <div  class="tab-pane fade grafica_style active" id="graph2">
        </div>
    </div>
</div>
