<div ng-controller="FacturaController" class="container"  ng-init="fill_shopping_cart()">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Carrito de compra</h1>
            <ol class="breadcrumb">
                <li><a href="index.html">Inicio</a>
                </li>
                <li class="active">Carrito de compra</li>
            </ol>
        </div>
    </div>
    <div class = "row">
        <button type="submit" data-target= "#PopCart" data-toggle="modal" class="btn btn-danger botones_shopping col-md-2 col-xs-4">Realizar Compra</button>
        <div ng-cloack ng-show="wasBought()" class = 'col-md-8 col-xs-4 cart_image' >
          <label>Seleccione la imagen del comprobante del deposito:</label>
          <div class = "cart_image">
            <input type="file" id = "imagen" accept="image/*" class = "cart_image center-block"></input>
          </div>
          <div id = "uploadImg">
            <label type="submit" ng-click="uploadImage()" class="btn btn-danger">Enviar</label>
          </div>
        </div>

        <button type="submit" class="btn btn-primary pull-right botones_shopping col-md-2 col-xs-4" ng-click ="generate()" >Descargar Cotización</button>
    </div>

    <div class="modal" id="PopCart" role="dialog">
		    <div class="modal-dialog">

          <div class="modal-header">
            <label>Compra de {{$sessionStorage.currentUser.username}}</label>
          </div>
		      <!-- Modal content-->
		      <div class="modal-content">
		        <div id="FacturaPrint" class="modal-body ">
		        	<h4 class="FacturaCentrado">Central de Motos</h4>
                <p>Si esta seguro de realizar esta compra confirme este mensaje y deposite el total en xxxxxxxxxxxx y luego sube una imagen del comprobante del deposito en el espacio habilitado dentro de su carrito de compra</p>

		        </div>
		        <div class="modal-footer">
		          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="habilitar_upload_image()">Comprar</button>
		          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
		        </div>
		      </div>
		    </div>
		</div>

  	<div id="tabla_shopping_cart" class = "container">
    			<table id="" class="table table-striped">
    		      <tr>
    		      	<th>
    		      		Código
    		      	</th>
    		        <th>
    		          Nombre
    		        </th>
    		        <th>
    		          Cantidad
    		        </th>
    		        <th>
    		          Precio
    		        </th>
    		        <th>
    		        </th>
    		      </tr>

    		      <tr ng-repeat="product in products">
    		      	<td >
    		      		<label readonly="" ng-model="item.codigo"> {{product.code}}</label>
    		      	</td>
    		      	<td>
    		      		<label  readonly="" ng-model="item.nombre">{{product.name}}</label>
    		      	</td>
    		      	<td>

    		      		<label readonly="" ng-model="item.cantidad" type="text"  id="facturaCantidad">{{product.quantity}}</label>

    		      	</td>
    		      	<td>
    		      		<label   readonly="" ng-model="item.precio">{{product.price  * product.quantity}}</label>
    		      	</td>
    		      	<td>
    		      		<label type="submit" ng-click="deleteItem(product)" class="btn btn-danger glyphicon glyphicon-remove"></label>
    		      	</td>
    		      </tr>
  		    </table>
		    </div>
      <div id = 'totales' class="pull-right">
        <table>
          <tr>
            <td>
              <h3>Subtotal : </h3>
            </td>
            <td>
              <h3>{{shopping_cart_total}}</h3>
            </td>
          </tr>

          <tr>
            <td>
              <h3>ISV : </h3>
            </td>
            <td>
              <h3>{{0.15*shopping_cart_total}}</h3>
            </td>
          </tr>

          <tr>
            <td>
              <h3>Total : </h3>
            </td>
            <td>
              <h3>{{(0.15*shopping_cart_total)+shopping_cart_total}}</h3>
            </td>
          </tr>
        </table>
      </div>
    </div>

		<div class="modal" id="PopFactura" role="dialog">
		    <div class="modal-dialog">

		      <!-- Modal content-->
		      <div class="modal-content">
		        <div id="FacturaPrint" class="modal-body ">
		        	<h4 class="FacturaCentrado">Central de Motos</h4>
		        	<label>{{$sessionStorage.currentUser.username}}</label>

		          <table>
      					<tr ng-repeat = "n in products">
      						<td class="espacioTotal">
      							<label>{{n.name}}</label>
      						</td>
      						<td class="espacioTotal">
      							<label>{{n.currentAmount}}</label>
      						</td>
      						<td class="espacioTotal">
      							<label>{{n.price * n.currentAmount}}</label>
      						</td>
      					</tr>
      					<tr>
      						<td class="espacioTotal">Subtotal:</td>
      						<td></td>
      						<td ng-init="putSubTotal()" ng-model="factura.subtotal">{{factura.subtotal}}</td>
      					</tr>
      					<tr>
      						<td class="espacioTotal" ng-model = "factura.impuesto">Impuesto:</td>
      						<td></td>
      						<td>{{factura.subtotal * 0.15}}</td>
      					</tr>
      					<tr>
      						<td class="espacioTotal">Total:</td>
      						<td></td>
      						<td>{{factura.subtotal + (factura.subtotal*0.15)}}</td>
      					</tr>
				      </table>
		        </div>
		        <div class="modal-footer">
		          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="reduccionInventario('FacturaPrint')">Comprar</button>
		          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
		        </div>
		      </div>

		    </div>
		</div>
</div>
